* 수인담당 데이터
1)case ,2)patientinfo, 3)Policy
데이터 살펴보기

In [1]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
matplotlib.rc('font', family = 'Malgun Gothic')
%matplotlib inline

In [2]:
case = pd.read_csv('../covid_19_dataset/Case.csv')
patient = pd.read_csv('../covid_19_dataset/PatientInfo.csv')
policy = pd.read_csv('../covid_19_dataset/Policy.csv')

In [4]:
case.head()

,case_id,province,city,group,infection_case,confirmed,latitude,longitude
0,1000001,Seoul,Yongsan-gu,True,Itaewon Clubs,139,37.538621,126.992652
1,1000002,Seoul,Gwanak-gu,True,Richway,119,37.48208,126.901384
2,1000003,Seoul,Guro-gu,True,Guro-gu Call Center,95,37.508163,126.884387
3,1000004,Seoul,Yangcheon-gu,True,Yangcheon Table Tennis Club,43,37.546061,126.874209
4,1000005,Seoul,Dobong-gu,True,Day Care Center,43,37.679422,127.044374

In [5]:
case.columns = ['id','행정구역','도시','집단감염','감염사례','확인수','위도','경도']

In [6]:
case

,id,행정구역,도시,집단감염,감염사례,확인수,위도,경도
0,1000001,Seoul,Yongsan-gu,True,Itaewon Clubs,139,37.538621,126.992652
1,1000002,Seoul,Gwanak-gu,True,Richway,119,37.48208,126.901384
2,1000003,Seoul,Guro-gu,True,Guro-gu Call Center,95,37.508163,126.884387
3,1000004,Seoul,Yangcheon-gu,True,Yangcheon Table Tennis Club,43,37.546061,126.874209
4,1000005,Seoul,Dobong-gu,True,Day Care Center,43,37.679422,127.044374
...,...,...,...,...,...,...,...,...
169,6100012,Gyeongsangnam-do,-,False,etc,20,-,-
170,7000001,Jeju-do,-,False,overseas inflow,14,-,-
171,7000002,Jeju-do,-,False,contact with patient,0,-,-
172,7000003,Jeju-do,-,False,etc,4,-,-
173,7000004,Jeju-do,from other city,True,Itaewon Clubs,1,-,-

In [8]:
# 각 컬럼별 value 확인
def unique_values(data):
    for c in data.columns:
        print(f'{c}[{len(data[c].unique())}] \n{data[c].unique()}')
        print('-------------------------')

In [9]:
unique_values(case)

id[174]
[1000001 1000002 1000003 1000004 1000005 1000006 1000007 1000008 1000009
 1000010 1000011 1000012 1000013 1000014 1000015 1000016 1000017 1000018
 1000019 1000020 1000021 1000022 1000023 1000024 1000025 1000026 1000027
 1000028 1000029 1000030 1000031 1000032 1000033 1000034 1000035 1000036
 1000037 1000038 1100001 1100002 1100003 1100004 1100005 1100006 1100007
 1100008 1100009 1100010 1200001 1200002 1200003 1200004 1200005 1200006
 1200007 1200008 1200009 1200010 1300001 1300002 1300003 1300004 1300005
 1400001 1400002 1400003 1400004 1400005 1400006 1400007 1500001 1500002
 1500003 1500004 1500005 1500006 1500007 1500008 1500009 1500010 1600001
 1600002 1600003 1600004 1700001 1700002 1700003 1700004 1700005 1700006
 2000001 2000002 2000003 2000004 2000005 2000006 2000007 2000008 2000009
 2000010 2000011 2000012 2000013 2000014 2000015 2000016 2000017 2000018
 2000019 2000020 2000021 2000022 3000001 3000002 3000003 3000004 3000005
 3000006 3000007 3000008 4000001 4000002 4000003 4000004 4000005 4000006
 4000007 4100001 4100002 4100003 4100004 4100005 4100006 4100007 4100008
 5000001 5000002 5000003 5000004 5000005 5100001 5100002 5100003 5100004
 5100005 6000001 6000002 6000003 6000004 6000005 6000006 6000007 6000008
 6000009 6000010 6000011 6000012 6000013 6100001 6100002 6100003 6100004
 6100005 6100006 6100007 6100008 6100009 6100010 6100011 6100012 7000001
 7000002 7000003 7000004]
-------------------------
행정구역[17]
['Seoul' 'Busan' 'Daegu' 'Gwangju' 'Incheon' 'Daejeon' 'Ulsan' 'Sejong'
 'Gyeonggi-do' 'Gangwon-do' 'Chungcheongbuk-do' 'Chungcheongnam-do'
 'Jeollabuk-do' 'Jeollanam-do' 'Gyeongsangbuk-do' 'Gyeongsangnam-do'
 'Jeju-do']
-------------------------
도시[48]
['Yongsan-gu' 'Gwanak-gu' 'Guro-gu' 'Yangcheon-gu' 'Dobong-gu'
 'from other city' 'Dongdaemun-gu' 'Eunpyeong-gu' 'Seongdong-gu'
 'Jongno-gu' 'Gangnam-gu' 'Jung-gu' 'Seodaemun-gu' 'Geumcheon-gu'
 'Yeongdeungpo-gu' 'Seocho-gu' 'Gangseo-gu' '-' 'Dongnae-gu' 'Suyeong-gu'
 'Haeundae-gu' 'Jin-gu' 'Nam-gu' 'Dalseong-gun' 'Seo-gu' 'Dong-gu'
 'Sejong' 'Seongnam-si' 'Bucheon-si' 'Uijeongbu-si' 'Anyang-si' 'Suwon-si'
 'Wonju-si' 'Goesan-gun' 'Cheonan-si' 'Seosan-si' 'Muan-gun'
 'Cheongdo-gun' 'Bonghwa-gun' 'Gyeongsan-si' 'Yechun-gun' 'Chilgok-gun'
 'Gumi-si' 'Geochang-gun' 'Jinju-si' 'Changwon-si' 'Changnyeong-gun'
 'Yangsan-si']
-------------------------
집단감염[2]
[ True False]
-------------------------
감염사례[81]
['Itaewon Clubs' 'Richway' 'Guro-gu Call Center'
 'Yangcheon Table Tennis Club' 'Day Care Center' 'Manmin Central Church'
 'SMR Newly Planted Churches Group' 'Dongan Church'
 'Coupang Logistics Center' 'Wangsung Church'
 "Eunpyeong St. Mary's Hospital" 'Seongdong-gu APT'
 'Jongno Community Center' 'Samsung Medical Center'
 'Jung-gu Fashion Company' 'Yeonana News Class'
 'Korea Campus Crusade of Christ' 'Gangnam Yeoksam-dong gathering'
 'Daejeon door-to-door sales'
 'Geumcheon-gu rice milling machine manufacture' 'Shincheonji Church'
 'Guri Collective Infection' 'KB Life Insurance'
 'Yeongdeungpo Learning Institute' 'Gangnam Dongin Church'
 'Biblical Language study meeting' 'Seocho Family'
 'Anyang Gunpo Pastors Group' 'Samsung Fire & Marine Insurance'
 'SJ Investment Call Center' 'Yongin Brothers'
 'Seoul City Hall Station safety worker' 'Uiwang Logistics Center'
 'Orange Life' 'Daezayeon Korea' 'overseas inflow' 'contact with patient'
 'etc' 'Onchun Church' 'Suyeong-gu Kindergarten'
 'Haeundae-gu Catholic Church' 'Jin-gu Academy' 'Cheongdo Daenam Hospital'
 'Second Mi-Ju Hospital' 'Hansarang Convalescent Hospital'
 'Daesil Convalescent Hospital' 'Fatima Hospital' 'Gwangneuksa Temple'
 'Door-to-door sales in Daejeon' 'Dunsan Electronics Town' 'Orange Town'
 'Dreaming Church' 'Korea Forest Engineer Institute'
 'Seosan-si Laboratory' 'Ministry of Oceans and Fisheries'
 'gym facility in Sejong' 'River of Grace Community Church'
 'Uijeongbu St. Mary’s Hospital' 'Bundang Jesaeng Hospital'
 'Lotte Confectionery logistics center' 'Lord Glory Church'
 'Suwon Saeng Myeong Saem Church' 'Seongnam neighbors gathering'
 'Wonju-si Apartments' 'Goesan-gun Jangyeon-myeon'
 'gym facility in Cheonan' 'Eunpyeong-Boksagol culture center'
 'Bonghwa Pureun Nursing Home' 'Gyeongsan Seorin Nursing Home'
 'Pilgrimage to Israel' 'Yechun-gun' 'Milal Shelter'
 'Gyeongsan Jeil Silver Town' 'Gyeongsan Cham Joeun Community Center'
 'Gumi Elim Church' 'Geochang Church' 'Wings Tower'
 'Geochang-gun Woongyang-myeon' 'Hanmaeum Changwon Hospital'
 'Changnyeong Coin Karaoke' 'Soso Seowon']
-------------------------
확인수[62]
[ 139  119   95   43   41   36   17   25   30   14   13   10    7    5
    6    1    8    3    4    0    2  298  162  100   39   12   19 4511
  196  124  101  917  747    9   23   53   42   20   68   11   55   15
   16   31   67   59   58   50   29   28   22  305   63   84  103  566
   66   40  190  133   32   26]
-------------------------
위도[66]
['37.538621' '37.48208' '37.508163' '37.546061' '37.679422' '37.481059'
 '-' '37.592888' '37.481735' '37.63369' '37.55713' '37.57681' '37.48825'
 '37.562405' '37.558147' '37.594782' '37.560899' '37.520846' '37.522331'
 '37.524623' '37.498279' '37.559649' '37.565699' '37.486837' '35.21628'
 '35.16708' '35.20599' '35.17371' '35.84008' '35.857375' '35.885592'
 '35.857393' '35.88395' '35.136035' '36.3400973' '36.3398739' '36.346869'
 '36.358123' '36.504713' '36.48025' '37.455687' '37.530579' '37.758635'
 '37.38833' '37.381784' '37.287356' '37.403722' '37.2376' '37.342762'
 '36.82422' '36.81503' '37.000354' '35.078825' '35.64887' '36.92757'
 '35.782149' '36.646845' '36.0581' '35.84819' '35.82558' '35.68556'
 '35.164845' '35.805681' '35.22115' '35.54127' '35.338811']
-------------------------
경도[66]
['126.992652' '126.901384' '126.884387' '126.874209' '127.044374'
 '126.894343' '-' '127.056766' '126.930121' '126.9165' '127.0403'
 '127.006' '127.08559' '126.984377' '126.943799' '126.968022' '126.966998'
 '126.931278' '127.057388' '126.843118' '127.030139' '126.835102'
 '126.977079' '126.893163' '129.0771' '129.1124' '129.1256' '129.0633'
 '128.5667' '128.466651' '128.556649' '128.466653' '128.624059'
 '126.956405' '127.3927099' '127.3819744' '127.368594' '127.388856'
 '127.265172' '127.289' '127.161627' '126.775254' '127.077716' '127.1218'
 '126.93615' '127.013827' '126.954939' '127.0517' '127.983815' '127.9552'
 '127.1139' '126.354443' '126.316746' '128.7368' '128.9099' '128.801498'
 '128.437416' '128.4941' '128.7621' '128.7373' '127.9127' '128.126969'
 '127.917805' '128.6866' '128.5008' '129.017508']
-------------------------